.hidden {
    display: none;
}
.title{
    display: block;
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: 	#333;
    font-size: 100px;
}
.desc {
    width: 80%;
    margin: 0 auto;
}
form {
    width: 80%;
    margin: 0 auto;
}
form .add_text {
    margin: 30px auto;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 3px 3px 10px 5px lightgray;
}
form .add_text input {
    width: 90%;
}
form .add_text button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: gray;
    color: #f2f2f2;
    cursor: pointer;
}
form .add_text button:hover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: gainsboro;
    color: #333;
}
form .search {
    margin: 30px auto;
    border-bottom: 1px solid #333;
    padding: 10px;
}
form .search input {
    width: 90%;
}
form .search button {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: gray;
    color: #f2f2f2;
    cursor: pointer;
}
form .search button:hover {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: gainsboro;
    color: #333;
}

/* todo 목록 */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th {
    font-size: 19px;
}

th, td{
    text-align: center;
    border: none;
    height: 50px;
    padding: 2px;
}

tr:hover {
    background: #E9E9E9;
}

.delete{
    text-align: center;
}
.delete a{
    width: 10px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    color: white;
    background: indianred;
    padding: 1px 6px;
    text-decoration: none;
}
.delete a:hover{
    width: 10px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    color: white;
    background: darkred;
    padding: 1px 6px;
    text-decoration: none;
}
#cheBtn {
    cursor: pointer;
}

/* 데이트타임피커 */
.end_dt {
    width: 140px;
    padding-left: 10px;
}